/JavaApplication27/nbproject/private/
/Exercicio2/nbproject/private/
/JavaApplication27/build/
/Exercicio2/build/
/Exercicio3/nbproject/private/
/Exercicio1/nbproject/private/
/exemploInterface/nbproject/private/
/exemploInterface/build/
/Interface2/nbproject/private/
/Interface2/build/
/Exerc/nbproject/private/
/Exercicio01/nbproject/private/
/Exercicio01/build/
/Exercicio02/nbproject/private/
/JavaApplication35/nbproject/private/
/Exercicio03/nbproject/private/